body{

   /* margin-left: 80px;
  margin-right: 10%;   */
}       

#phone1{
   margin-inline-end: 10px; 
}

#gett{
    font-size: 0.4em;
     color:rgb(160, 180, 186);
     font-weight: lighter;
     margin-block-start: 1%;
}

#part{
    font-size: 2.5em;
    color: white;
}
#be{
    font-size: 1.2em;
    color:lightblue;
    font-weight: lighter;
}

#job{
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: rgb(85, 169, 197);
    border-radius: 10px;
}

#button1{
padding: 15px;
background-color: #3FB0CA;
color: white;
border: none;
border-radius: 15px;

}

#button11{
padding: 15px;
border-color:#3FB0CA;
color:#3FB0CA;
background-color: #003E47;
border-radius: 15px;


}

#text2{

    font-size: 3em;
    font-weight: bolder;
    color: white;}
    

    #expert-people{
        display: flex;
        justify-content: space-evenly;
        margin-block-start: 9%;
        margin-block-end: 6%
    }
    #seamless{
        display: flex;
        flex-direction: column;
       align-items: center;
       background-color: #CCF5FF;
         
    }

    #list1{
        font-size: medium;
        list-style-image: ;
    }

    #powerful{
        font-size: 1.5em;
             }     


    #get-st{
        color: white;
        background-color: blue;
        padding: 10px;
        border: none;
        border-radius: 10px 10px;
        margin-block-start: 9%;
        
    }
    #search{
        width: 400px;
    }
    #general{
        width: 400px;
    }

    #inform{
        width: 400px;
    }
    
    

    #integration{
        margin-block-start: 2%;
    }

    #explore-all{
        border: none;
        padding: 15px 20px;
        font-weight: bold;
        background-color: rgb(234, 180, 81);
        border-radius: 7px;
        margin-block-end: 10%;
    }

#blog{
    font-size: 2em;
}
#button{
    padding: 10px 10px;
}

    .blog-highlights
{

    display: flex;
    justify-content: space-evenly;

}
    .three-images{
        display: flex;
       justify-content: space-evenly;
        margin-block-start: 4%;
    }

#text3{
   /* margin-inline-start: ; */
   justify-content: space-evenly;
    margin-block-start: 5%;
}

.container{
   /* margin-left: 10%; */
}

#topnav{
  
    background-color: #014852;
    border: #014852;
    color: white;

}
#links1{
  margin-inline-start: 300px;
}
#links a{
    /* margin-left: 200px; */
}

#Stealth{
    display: flex;
    color: white;
}
.all{
    margin-inline-start: 110px;
}

#private{
    background-color:#003E47;
    display: flex;
}

.encrypted{
    margin-block-start: 1%;
    display: flex;
    justify-content: space-evenly;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
}



#app2{
    border: none;
}
#stealth-advantage{
    text-align: center;
    font-size:200em;
    font-weight: bold;
    margin-block-start: 8%;
    margin-block-end: 8%;

}

#decode{
    display: flex;
    gap: 600px;
}

#footer1{
    background-color: #003E47;
}
.footer{
    display: flex;
    background-color: #003E46;
    color: white;
    justify-content: space-evenly;
   
}

#list{
    list-style: none;
}

#topnav{
    display: flex;
    gap: 80px;
}

#button2{
    padding: 15px;

    border-radius: 20px;
        border-color: #3FB0CA;
        width: 40%;
    color: #3FB0CA;
    background-color: white;
}


#links1{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#people{
    font-size: 2.6em;}


#icons{
    display: flex;
    justify-content: space-evenly;
    
}

.last-part{
    display: flex;
    background-color: #003E47;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 35px;
    padding: 140px 0px 0px 0px;
    margin-block-start: 9%;
    margin-block-end: 6%;
}

#list3{
    margin-block-start: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media all and (min-width:280px) and (max-width:1024){


 
    body{
        background-color: lightblue;
        margin-left: 5px;
        margin-inline-end: 5px;}
    


    #phone1{
        margin-inline-end: 5px; 
        width: 10px;
     }
     
     #get{
         font-size: medium;
          color: white;
          margin-top: 1%;
     }
     
     #button1{
     padding: 5px;
     background-color: #3FB0CA;
     color: white;
     border: none;
     border-radius: 5px;
     
     }
     
     #button11{
     padding: 5px;
     border-color:#3FB0CA;
     color:#3FB0CA;
     background-color: #003E47;
     border-radius: 5px;
     
     
     }
     
     #text2{
     
         font-size: ;
         font-weight: bolder;
         color: white;}
         
     
         #expert-people{
             display: flex;
             justify-content: space-evenly;
             margin-block-start: 2%;
             margin-block-end: 6%
         }
         #seamless{
             display: flex;
             flex-direction: column;
            align-items: center;
            background-color: #CCF5FF;
              
         }
     
         #list1{
             font-size: medium;
             list-style-image: ;
         }
     
     
         #get-st{
             color: white;
             background-color: blue;
             padding: 5px;
             border: none;
             border-radius: 05px 5px;
             margin-block-start: 2%;
             
         }
         #search{
             width: 10px;
         }
         #general{
             width: 40px;
         }
     
         #inform{
             width: 40px;
         }
    
         
     
         #integration{
             margin-top: 2%;
         }
     
         #explore-all{
             border: none;
             padding: 10px;
             font-weight: bold;
             background-color: rgb(234, 180, 81);
             border-radius: 7px;
             margin-block-end: 3%;
         }
     
     
     #button{
         padding: 10px 10px;
     }
     
         .blog-highlights
     {
     
         display: wrap;
         justify-content: space-evenly;
     
     }
         .three-images{
             display: wrap;
            justify-content: space-evenly;
             margin-block-start: 2%;
         }
     
     #text3{
        margin-left: ;
        justify-content: space-evenly;
         margin-block-start: 1%;
     }
     
     .container{
        /* margin-left: 10%; */
     }
     
     #topnav{
       
         background-color: #014852;
         border: #014852;
         color: white;
     
     }
     
     
     
     #Stealth{
         display: wrap;
         color: white;
     }
     .all{
         margin-left: 110px;
     }
     
     #private{
         background-color:#003E47;
         display: wrap;
     }
     
     .encrypted{
         margin-top: 1%;
         display: wrap;
         justify-content: space-evenly;
         margin-inline-start: 1%;
         margin-inline-end: 1%;
     }
     
     
     
     #app2{
         border: none;
     }
     #stealth-advantage{
        font-size: 2.7em;
         text-align: center;
         font-weight: bold;
         margin-top: 1%;
         margin-bottom: 1%;
     
     }
     
     #decode{
         display: wrap;
         gap: 20px;
     }
     
     .footer{
         display: wrap;
         gap: 5px;
         background-color: #003E46;
        
     }
     
     #list{
         list-style: none;
     }
     
     #topnav{
         display: wrap;
         gap: 80px;
     }
     
     #button2{
         padding: 5px;
     
         border-radius: 20px;
             border-color: #3FB0CA;
             width: 40%;
         color: #3FB0CA;
         background-color: white;
     }
     
     
     #links1{
         display: wrap;
         gap: 10px;
         justify-content: center;
     }
     
     
     #icons{
         display: wrap;
         justify-content: space-evenly;
         
     }

     
     
     .last-part{
         display: wrap;
         background-color: #003E47;
         justify-content: space-evenly;
         padding: 10px 0px 0px 0px;
         height: 10px;

         /* margin-right: 10%;
         margin-left: 10%;
         border-radius: 35px;
        
         margin-top: 9%;
         margin-bottom: 6%; */
     }
     
     #list3{
         margin-top: 5px;
         display: wrap;
         flex-direction: column;
         gap: 10px;
     }
    }